*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    list-style: none;
}

body {
    font-size: 62.5%;
    box-sizing: border-box;
    user-select: none;
    font-family: Verdana, sans-serif;
}

.container {
    height: 90vh;
    /* max-width: 95vw; */
    margin: 0 auto;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.85);
    font-size: 1.25rem;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; */
    /* width: max-content; */
}

.navbar-item {
    padding: 1rem;
    /* flex: 0 1; */
    color: white;
    cursor: pointer;
    display: inline-block;
}

.navbar-item:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

#active, #active:hover {
    background-color: #04AA6D;
}

.about {
    float: right;
}

.header {
    font-size: 2rem;
    color: darkolivegreen;
}

/* @media only screen and (max-width: 220px) {
    
}

@media only screen and (max-width: 300px) {
    
} */

@media only screen and (max-width: 600px) {
    /* .responsive > .navbar-item {
        display: block !important;
    }
    .active {
        width: max-content;
        display: inline-block;
    }
    .responsive > .navbar-item:not(:first-child) {
        display: none;
    }
    .hamburgur {
        display: inline-block !important;
        float: right;
    }
    .navbar::after {
        content: "";
        clear: both;
        display: table;
    }
    .responsive > .about {
        float: none;
    } */
    .navbar {
        font-size: 1rem;
    }
    #active {
        display: inline-block !important;
    }
    .navbar-item:not(#navbar-icon) {
        display: none;
    }
    .about {
        float: none;
    }
    .hamburgur {
        float: right;
    }
    .navbar::after {
        content: "";
        clear: both;
        display: table;
    }

    .responsive > .navbar {
        display: block;
    }

    .responsive > .navbar-item:not(#navbar-icon) {
        display: block;
    }

    .responsive > #active {
        width: auto;
    }
}

@media (min-width: 601px) {
    .hamburgur {
        display: none;
    }
}